@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "poppins";
}

body{
    width: 100vw;
    height: 100vh;
    font-size: 1em;
    display: flex;
    margin:0;
    padding:0;
    /* overflow: hidden; */
}

/*Variavéis */
:root{
    --border-color-aside: #ECECEC;
    --border-color: #d3d3d3;
    --selected-color: rgba(42, 0, 255, 0.05);
    --blue: #000080;
    --transparent-blue: rgba(42, 0, 255, 0.1);
    --black: #000000;
    --main-color: #FFFFFF;
    --secundary-color: #F7F6FF;
    --lightGrey: #E6E6E6;
    --transparent-purple: rgba(215, 130, 239, 0.5);
    --purple: #8601AB;
    --taskBoardIcon-color: #3F3F3F;
    --shadow: rgb(198, 198, 198, 0.5);
    --transparentBlack: rgba(0, 0, 0, 0.4);
    --toDo-color: rgba(64, 64, 64, 0.1);
    --toDoFont-color: #404040;
    --doing-color: rgb(3, 44, 166, 0.5);
    --doingFont-color: #032CA6;
    --done-color: rgb(17, 149, 0, 0.5);
    --doneFont-color: #119500;
}

/* Menu lateral */
.aside{
    display: flex;
    flex-direction: column ;
    width:200px;
    height: 100%;
    border-right: 1px solid #ECECEC;
    min-width: 200px;
    transition: width .3s ease, min-width .3s ease;
}

/*Fechar e abrir menu lateral*/

.asideClosed .selection-aside{
    display: flex;
    padding-left: 0;
    justify-content: center;
}

.asideClosed .selection-aside svg {
    width: 22px;
    height: 22px;
}

.asideClosed .headerLink {
    display: none; 
}

.asideClosed .members{
    display: none;
}

.asideClosed .logo{
     padding: 0;
     display: flex;
     justify-content: center;
}

.asideClosed .logo a{
    display: none;
}

.asideClosed .logo .toggleIcon{
    transform: rotate(180deg); 
}

.asideClosed{
    width: 60px;
    min-width: 60px;   
}

.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width:100%;
    height:60px;
    border-bottom: 1px solid #ECECEC;
}

.logo a{
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
}

.logo .toggleIcon{
    cursor: pointer;
    width: 25px;
    height: 25px;
    transition: transform 0.3 ease;
}

.logo svg:hover{
    width: 25px;
    height: 25px;
    background-color: var(--lightGrey);
    border-radius: 5px ;
}

/* Navegação Lateral */

nav{
    
    padding:15px 0 15px 0;
    
    ul{
        list-style: none; 
        display: flex;  
        flex-direction: column;
    }
   
}
.selection-aside{
    width:100%;
    height:50px;
    display: flex;
    align-items: center;
    padding-left:15px ;
    cursor: pointer;
    gap:5px;
}
.selection-aside:hover{
    background-color: var(--selected-color);
    width: 100%;
    height:50px;
}
.selected{
    background-color: var(--selected-color);
    width: 100%;
    height:50px;
}

.headerLink a {
  color: var(--black);
  text-decoration: none;
}

.selection-aside.selected .headerLink a {
  color: var(--blue);
  font-weight: bold;
  
}
.selection-aside svg{
     width: 22px;
     height: 22px;
}

.selection-aside.selected svg {
  color: var(--blue);  
}


.main-content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;
    height: 100%;
}

/*Header*/

header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 20px;
    background-color: var(--main-color);
    border-bottom: 1px solid #ECECEC;
    justify-content: space-between;
}

.breadcrumbs{
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    gap:5px;

}

.breadcrumbs a{
    text-decoration: none;
    color: #000000;
}

.breadcrumbs svg{
    width: 25px;
    height: 25px;
}

.headerUtilities{
    display: flex;
    align-items: center;
    gap:20px;
}

.headerUtilitiesHover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    transition: .3s ease;
}
.headerUtilitiesHover:hover{
    background-color: var(--lightGrey);
}

.userProfile{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: aqua;
}

/* Main */

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    background-color: var(--secundary-color);
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    gap:20px;
}

/*Header task*/

.taskHeader{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #d3d3d3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.pageTitleContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.pageTitle{
    height: 60px;
    gap:15px;
    display: flex;
    align-items: center;
}

.pageSubtitle{
    font-size: 15px;
    color: #404040;
    
}
.pageTitle svg{
    width: 40px;
    height: 40px;
    fill:#119500;
    stroke: #ffffff;
}

.mainTaskHeaderInfo{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.pageTaskActions{
    display: flex;
    align-items: flex-end;
    margin-bottom:10px;
    gap:15px;
    right:0;
    
}

.filterTasks{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 90px;
    gap:5px;
    background-color: #ffffff;
    border-radius: 10px;
    color: #808080;
}

.filterTasks:hover{
    cursor: pointer;
    background-color: #f2f2f2;

}

.filterTasks svg{
    width: 18px;
    height: 18px;
}

.searchTask{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    width: 200px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ffffff;
}

.searchTask svg{
    height: 20px;
    width: 20px;
    stroke: #696969;
}

.invisibleInput{
    height: 100%;
    width: 180px;
    border: none;
    outline: none;
    background-color: transparent;
    padding-left:8px;
    font-size: 15px;
    color: #696969;
}


.createTask{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 35px;
    background-color: var(--blue);
    border-radius: 10px;
    color: var(--main-color);
    border-width: 0;
    gap:2px;
    font-size: 13px;
    cursor:pointer;
    transition: .3s ease;
}

.createTask svg{
    width: 20px;
    height:20px;
    fill: var(--main-color);
}

/* Seção das tarefas */

.taskList{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.taskInfo{
    width: 100%;
    height: 45px;
    display: flex;
    border: 1px solid #f2f2f2;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    background-color: #FFFFFF;
}

.taskInfo svg{
    width: 18px;
    height: 18px;
}

.nameTaskTitle{
    width: 400px;
    border-right: 1px solid #f2f2f2;
    display: flex;
    align-items: center;
    padding-left:10px;
    color: #808080;
    gap:8px;
}

.dueDateTitle, .statusTitle, .categoryTitle, .priorityTitle{
    width: 200px;
    border-right: 1px solid #f2f2f2;
    display: flex;
    align-items: center;
    padding-left:10px;
    color: #808080;
    gap:8px;

}

.actionsTitle{
    width: 105px;
    display: flex;
    align-items: center;
    padding-left:10px;
    color: #808080;
}

.task{
    width: 100%;
    height: 45px;
    display: flex;
    border: 1px solid #f2f2f2;

}

.task:last-child{
    width: 100%;
    height: 45px;
    display: flex;
    border: 1px solid #f2f2f2;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}

input[type=checkbox]{
    width:18px;
    height: 18px;
    border: 1px solid #808080;
}
/* Nome da tarefa */

.taskNameContainer{
    width: 400px;
    border-right: 1px solid #f2f2f2;
    display: flex;
    align-items: center;
    padding-left:10px;
    gap:5px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
} 

.invisibleTaskNameInput{
    width: 300px;
    border:none;
    outline: none;
    font-size: 12px;
    padding: 0;
    margin: 0;
    display: inline;
    font: inherit;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.taskNameContainer:focus-within{
    width: 405px;
    height: 48px;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px #f2f2f2;
    border-radius: 10px;
    border: 1px solid #f2f2f2;
    z-index: 12;
}

.dueDateContainer, .statusContainer, .categoryContainer, .priorityContainer{
    width: 200px;
    border-right: 1px solid #f2f2f2;
    display: flex;
    align-items: center;
    padding-left:10px;
    cursor: pointer;
}

.dueDateContainer{
    position: relative;
    cursor: pointer;
}
.noValue{
    display: none;
}

.withValue{
    display: block;
}

/* Categoria */

.categoryContainer{
    position: relative;
}
.categoryBadge{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:10px;
    gap:5px;
    height: 20px;
    width: min-content;
    padding: 15px 10px;
    font-size:15px;
    cursor: pointer;
}

.selectCategoryModal{
    position: absolute;
    width: 280px;
    height: min-content;
    background-color: #FFFFFF;
    border-radius:5px;
    border: 1px solid #f2f2f2;
    box-shadow: 1px 1px 5px #f2f2f2;
    top:5px;
    z-index: 10;
    cursor: pointer;
}

.categoryBadgeHeader{
    background-color: #000080;
    width: min-content;
}

.noCategorySelected{
    display: none;
}


/*  Estilização do calendário */

.flatpickr-calendar {
    display: flex;
    font-size: 12px; 
    width: 220px;    
    max-width: 220px;
    height: 280px;
    margin-top:35px;
}

.flatpickr-rContainer{
    width: 220px;
    height: 220px;
}

.flatpickr-weekdaycontainer {
    padding: 0; 
}

.flatpickr-weekdays{
    width: 100%;
    font-size: 12px;
}

.flatpickr-months{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 100%;
}

.flatpickr-innerContainer{
    width: 100%;
    height: 85%;
}

.flatpickr-month{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flatpickr-current-month{
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}

.dayContainer{
    min-width: 100%;
    max-width: 100%;
}

.flatpickr-days{
    width: 100%;
}
.flatpickr-day {
    height: 35px;       /* Altura menor para as células */
    line-height: 35px;  /* Mantém o número centralizado verticalmente */
    width: 20px;        /* Largura menor para as células */  /* Espaçamento pequeno entre os números */
}

/* Container de prioridade */

.priorityContainer{
    position: relative;
}

/* Container de status */

.statusContainer{
    position: relative;
}

/* Container de ações */

.actionsContainer{
    width: 105px;
    display: flex;
    align-items: center;
    padding-left:10px;
    color: #808080;
}

.statusBadge{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:10px;
    gap:5px;
    font-size:15px;
    cursor: pointer;
}

.doneMarker{
    background-color: #119500;
     width: 5px;
    height: 5px;
    border-radius:50%;
}

.doneStatus{
    width: 95px;
    height: 30px;
    background-color: rgba(17, 149, 0, 0.1);
    color: #119500;
    
}

.doingStatus{
    width: 130px;
    height: 30px;
    background-color: rgba(52, 98, 191, 0.1);
    color:#3462BF;
}

.doingMarker{
    background-color: #3462BF;
    width: 5px;
    height: 5px;
    border-radius:50%;
}

.toDoStatus{
    width: 90px;
    height: 30px;
    background-color: var(--toDo-color);
    color:var(--toDoFont-color);
}

.toDoMarker{
    background-color: var(--toDoFont-color);
    width: 5px;
    height: 5px;
    border-radius:50%;
}

.priorityBadge{
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:10px;
    font-size:15px;
    cursor: pointer;
}

.lowPriority{
    background-color: rgba(17, 149, 0, 0.1);
    color: #119500;
}

.mediumPriority{
    background-color: rgba(242, 203, 5, 0.1);
    color:#F2B807;
}

.highPriority{
   background-color: rgba(220, 53, 69, 0.1); 
   color: #DC3545;
}

/* Modal para selecionar status */

.selectStatusModal{
    position: absolute;
    width: 200px;
    height: min-content;
    background-color: #FFFFFF;
    border-radius:5px;
    border: 1px solid #f2f2f2;
    box-shadow: 1px 1px 5px #f2f2f2;
    top:5px;
}

.selectPriorityModal{
    position: absolute;
    width: 200px;
    height: min-content;
    background-color: #FFFFFF;
    border-radius:5px;
    border: 1px solid #f2f2f2;
    box-shadow: 1px 1px 5px #f2f2f2;
    top:5px;
}

.selectModalHidden, .selectCategoryHidden{
    display: none;
}

.statusModalHeader, .priorityModalHeader, .categoryModalHeader{
    width: 100%;
    padding: 3px;
    display: flex;
    align-items: center;
    padding-left:10px;
    border-bottom: 1px solid #f2f2f2;
    background-color: #f7f7f7;
}


.selectOptionText{
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 100%;
    padding: 5px 10px;
    font-size: 12px;
    color: #808080;

}
.statusBadgeContainer, .priorityBadgeContainer, .categoryBadgeContainer{
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    cursor: pointer;
}

.priorityBadgeContainer:hover{
    background-color: #f7f7f7;

}
.statusBadgeContainer:hover{
   background-color: #f7f7f7;
}

.categoryBadgeContainer:hover{
    background-color: #f7f7f7;

}

.statusBadgeContainer:last-child{
    border-bottom: 0px;
}



/* Adicionar nova tarefa */

.writeNewTaskName{
    width: 300px;
    height: 30px;
    outline: none;
    border: none;
    font-size:15px;
}