@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Domine:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "roboto";
}

body{
    width: 100vw;
    height: 100vh;
    font-size: 1em;
    display: flex;
    margin:0;
    padding:0;
    /* overflow: hidden; */
}

/*Variavéis */
:root{
    --border-color-aside: #ECECEC;
    --border-color: #d3d3d3;
    --selected-color: rgba(42, 0, 255, 0.05);
    --blue: #000080;
    --transparent-blue: rgba(42, 0, 255, 0.1);
    --black: #000000;
    --main-color: #FFFFFF;
    --secundary-color: #F7F6FF;
    --lightGrey: #E6E6E6;
    --transparent-purple: rgba(215, 130, 239, 0.5);
    --purple: #8601AB;
    --taskBoardIcon-color: #3F3F3F;
    --shadow: rgb(198, 198, 198, 0.5);
    --transparentBlack: rgba(0, 0, 0, 0.4);
    --toDo-color: rgba(64, 64, 64, 0.3);
    --toDoFont-color: #404040;
    --doing-color: rgb(3, 44, 166, 0.5);
    --doingFont-color: #032CA6;
    --done-color: rgb(17, 149, 0, 0.5);
    --doneFont-color: #119500;
}

/* Menu lateral */
.aside{
    display: flex;
    flex-direction: column ;
    width:200px;
    height: 100%;
    border-right: 1px solid #ECECEC;
    min-width: 200px;
    transition: width .3s ease, min-width .3s ease;
}

/*Fechar e abrir menu lateral*/

.asideClosed .selection-aside{
    display: flex;
    padding-left: 0;
    justify-content: center;
}

.asideClosed .selection-aside svg {
    width: 22px;
    height: 22px;
}

.asideClosed .headerLink {
    display: none; 
}

.asideClosed .members{
    display: none;
}

.asideClosed .logo{
     padding: 0;
     display: flex;
     justify-content: center;
}

.asideClosed .logo a{
    display: none;
}

.asideClosed .logo .toggleIcon{
    transform: rotate(180deg); 
}

.asideClosed{
    width: 60px;
    min-width: 60px;   
}

.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width:100%;
    height:60px;
    border-bottom: 1px solid #ECECEC;
}

.logo a{
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
}

.logo .toggleIcon{
    cursor: pointer;
    width: 25px;
    height: 25px;
    transition: transform 0.3 ease;
}

.logo svg:hover{
    width: 25px;
    height: 25px;
    background-color: var(--lightGrey);
    border-radius: 5px ;
}

/* Navegação Lateral */

nav{
    
    padding:15px 0 15px 0;
    
    ul{
        list-style: none; 
        display: flex;  
        flex-direction: column;
    }
   
}
.selection-aside{
    width:100%;
    height:55px;
    display: flex;
    align-items: center;
    padding-left:15px ;
    cursor: pointer;
    gap:5px;
}
.selection-aside:hover{
    background-color: var(--selected-color);
    width: 100%;
    height:55px;
}
.selected{
    background-color: var(--selected-color);
    width: 100%;
    height:55px;
}

.headerLink a {
  color: var(--black);
  text-decoration: none;
}

.selection-aside.selected .headerLink a {
  color: var(--blue);
  font-weight: bold;
  
}
.selection-aside svg{
     width: 22px;
     height: 22px;
}

.selection-aside.selected svg {
  color: var(--blue);  
}


.main-content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;
    height: 100%;
}

/*Header*/

header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 20px;
    background-color: var(--main-color);
    border-bottom: 1px solid #ECECEC;
    justify-content: space-between;
}

.breadcrumbs{
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    gap:5px;

}

.breadcrumbs a{
    text-decoration: none;
}

.breadcrumbs svg{
    width: 25px;
    height: 25px;
}

.headerUtilities{
    display: flex;
    align-items: center;
    gap:20px;
}

.headerUtilitiesHover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    transition: .3s ease;
}
.headerUtilitiesHover:hover{
    background-color: var(--lightGrey);
}

.userProfile{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: aqua;
}

/* Main */

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    background-color: var(--secundary-color);
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    gap:20px;
}

/*Header task*/

.taskHeader{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #d3d3d3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.taskPageTitle{
    margin-bottom:10px;
}
.mainTaskHeaderInfo{
    display: flex;
    width: 100%;
}
.pageTaskActions{
    background-color: #000080   ;
}



