@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "poppins";
}

body{
    width: 100vw;
    height: 100vh;
    font-size: 1em;
    display: flex;
    margin:0;
    padding:0;
    position: relative;
    /* overflow: hidden; */
}

.filter{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.062);
    z-index: 10;
}
/*Variavéis */
:root{
    --border-color-aside: #ECECEC;
    --border-color: #d3d3d3;
    --asideSelection: rgba(42, 0, 255, 0.05);
    --blue: #000080;
    --black: #000000;
    --main-color: #FFFFFF;
    --secundary-color: #F7F6FF;
    --lightGrey: #E6E6E6;
    --taskBoardIcon-color: #3F3F3F;
    --shadow: rgb(198, 198, 198, 0.5);
    --toDoColor: rgba(64, 64, 64, 0.1);
    --toDoFontColor: #404040;
    --lightFontColor:#696969;
    --blueHoverButton: #0000a5; 
}

.aside{
    display: flex;
    flex-direction: column ;
    width:200px;
    height: 100%;
    border-right: 1px solid #ECECEC;
    min-width: 200px;
    transition: width .3s ease, min-width .3s ease;
}

/*Fechar e abrir menu lateral*/

.asideClosed .selection-aside{
    display: flex;
    padding-left: 0;
    justify-content: center;
}

.asideClosed .selection-aside svg {
    width: 22px;
    height: 22px;
}

.asideClosed .headerLink {
    display: none; 
}

.asideClosed .members{
    display: none;
}

.asideClosed .logo{
     padding: 0;
     display: flex;
     justify-content: center;
}

.asideClosed .logo a{
    display: none;
}

.asideClosed .logo .toggleIcon{
    transform: rotate(180deg); 
}

.asideClosed{
    width: 60px;
    min-width: 60px;   
}

.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width:100%;
    height:60px;
    border-bottom: 1px solid #ECECEC;
}

.logo a{
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
}

.logo .toggleIcon{
    cursor: pointer;
    width: 25px;
    height: 25px;
    transition: transform 0.3 ease;
    stroke: var(--black);
}

.logo svg:hover{
    width: 25px;
    height: 25px;
    background-color: var(--lightGrey);
    border-radius: 5px ;
}

/* Navegação Lateral */

nav{
    
    padding:15px 0 15px 0;
    
    ul{
        list-style: none; 
        display: flex;  
        flex-direction: column;
    }
   
}
.selection-aside{
    width:100%;
    height:50px;
    display: flex;
    align-items: center;
    padding-left:15px ;
    cursor: pointer;
    gap:5px;
}
.selection-aside:hover{
    background-color: var(--asideSelection);
    width: 100%;
    height:50px;
}
.selected{
    background-color: var(--asideSelection);
    width: 100%;
    height:50px;
}

.headerLink a {
  color: var(--black);
  text-decoration: none;
}

.selection-aside.selected .headerLink a {
  color: var(--blue);
  font-weight: bold;
  
}
.selection-aside svg{
     width: 22px;
     height: 22px;
}

.selection-aside.selected svg {
  color: var(--blue);  
}

.main-content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;
    height: 100%;
}

/*Header*/

header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 20px;
    background-color: var(--main-color);
    border-bottom: 1px solid #ECECEC;
    justify-content: space-between;
}

.breadcrumbs{
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    gap:5px;

}

.breadcrumbs a{
    text-decoration: none;
    color: var(--black);
}

.breadcrumbs svg{
    width: 25px;
    height: 25px;
}

.headerUtilities{
    display: flex;
    align-items: center;
    gap:20px;
}

.headerUtilitiesHover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    transition: .3s ease;
}
.headerUtilitiesHover:hover{
    background-color: var(--lightGrey);
}

.userProfile{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: aqua;
}

/* Main */

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    background-color: var(--secundary-color);
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    gap:20px;
}

/*Header project*/

.projectHeader{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #d3d3d3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.pageTitleContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.pageTitle{
    height: 60px;
    gap:15px;
    display: flex;
    align-items: center;
}

.projectPageTitle{
    color: var(--black);
}

.pageSubtitle{
    font-size: 16px;
    color: var(--black);
}
.pageTitle svg{
    width: 40px;
    height: 40px;
    fill:#119500;
    stroke: #ffffff;
}

.mainProjectHeaderInfo{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.pageProjectActions{
    display: flex;
    align-items: flex-end;
    margin-bottom:10px;
    gap:15px;
    right:0;
    
}

.orderProjects{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 40px;
    gap:5px;
    background-color: #ffffff;
    border-radius: 10px;
    color: #808080;
    position: relative;
    cursor: pointer;
}

.orderProjects.orderProjectsSelected{
    background-color:#f2f2f2;
}

.orderProjectModal{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: min-content;
    background-color: #6e2626;
    position: absolute;
    right:10px;
    top:160px;
    z-index:10;
    background-color: #ffffff;
    box-shadow: 1px 1px 8px var(--shadow);
    border-radius: 10px;
}

.orderProjectModalHidden{
    display:none;
}

.orderOptions{
    display: flex;
    flex-direction: column;
}

.orderthrough{
    display: flex;
    padding-left: 10px;
    width: 100%;
    padding: 10px 10px;
    gap:5px;
    align-items: center;
}

.orderthrough:hover{
    background-color: #f2f2f2;
    cursor: pointer;
}


.orderthrough svg{
    width: 18px;
    height: 18px;

}
.orderProjectHeader{
    width: 100%;
    padding: 10px 10px;
}

.orderProjects svg{
    width: 18px;
    height: 18px;
}

.searchProject{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    width: 200px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ffffff;
}

.searchIconContainer{
    display: flex;
    justify-content: center;
}

.searchIconContainer svg{
    width: 16px;
    height: 16px;
    stroke:#696969;
}

.invisibleInput{
    height: 100%;
    width: 180px;
    border: none;
    outline: none;
    background-color: transparent;
    padding-left:8px;
    font-size: 15px;
    color: #696969;
}


.createProject{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 35px;
    background-color: var(--blue);
    border-radius: 10px;
    color: var(--main-color);
    border-width: 0;
    gap:2px;
    font-size: 13px;
    cursor:pointer;
    transition: .3s ease;
}

.createProject:hover{
    background-color: var(--blueHoverButton);
}

.createProject svg{
    width: 20px;
    height:20px;
    fill: var(--main-color);
}

.projectList{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap; 
    gap: 20px;
    width: 100%; 
}

.addProjectContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 180px;
    margin-top:5px;
    border-radius: 10px;
    border-style: dashed;
    border-width: 1px;
    border-color: #0000802c;
    background-color: #00008009;
    cursor: pointer;
}

.iconContainer{
    width: 40px;
    height: 40px;
    background-color: #000080;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.iconContainer svg{
    color: #fdfdfd;
    width:20px;
    height: 20px;
}
.project{
    display: flex;
    flex-direction: column;
    width: calc(25% - 20px);   
    min-width: 260px; 
    padding: 15px 15px 5px 15px;
    height: 180px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 1px 2px 8px var(--shadow);
    cursor: pointer;
    margin-top: 5px;
    transition: .2s ease-in-out;
}


.project:hover{
    margin-top: 0px;
}

.projectTop{
    flex-grow: 3;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.projectCategoryBadgeModal{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:10px;
    gap:5px;
    height: 20px;
    width: fit-content;
    background-color: #77778b41;
    max-width: 140px;
    padding: 15px 10px;
    font-size:15px;
    cursor: pointer;
}

.projectCategoryBadge{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:10px;
    gap:5px;
    height: 20px;
    width: fit-content;
    max-width: 70px;
    padding: 15px 10px;
    font-size:15px;
    cursor: pointer;
}

.progressBarContainer{
    gap:5px;
    flex-grow: 3;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.progressBar{
    width: 100%;
    height: 20px;
    border-radius: 10px ;
    background-color: #000080;
}
.projectBottom{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.shareWithText{
    font-size: 10px;
    color: #696969;
    margin-bottom: 5px;
}

.projectTitle{
    font-size: 18px;
    max-width: 155px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}   

.dueDateContainer{
    margin-left:2px;
    display: flex;
    align-items: center;
    gap:5px;
}

.dueDateContainer svg{
    width: 14px;
    height: 14px;
    color: #696969;
}

.dueDateContainer p{
    font-size: 12px;
    color: #696969;
    font-weight: 500;
}
.dueDateProjectSubtitle{
    font-size: 12px;
}

.projectMembers{
    width: fit-content;
    height: fit-content;
    display: flex;
    gap:5px;
}

.member, .membersQuantity{
    border: 1px solid var(--main-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 1px 2px 5px var(--shadow);
}

.membersQuantity{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
}

.membersQuantity svg{
    width: 12px;
    height: 12px;

}

/* Modal de criação de projeto*/

.createProjectModal{
    position: absolute;
    width: 400px;
    height: fit-content;
    left: 50%;
    top:20%;
    transform: translate(-50%);
    background-color: var(--main-color);
    box-shadow: 2px 2px 5px var(--shadow);
    border-radius: 10px;
    z-index: 12;
    display: flex;
    flex-direction: column;
}

.hidden{
    display: none;
}
.projectModalHeader{
    padding: 25px 20px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #f2f2f2;
}

.projectModalHeader p{
    font-size: 15px;
    color: #696969;
    font-weight: 500;
} 

.projectModalHeader svg{
    stroke: #696969;
    cursor: pointer;
}

.projectNameContainer{
    padding: 15px 15px 10px;
}

.invisibleProjectNameInput{
    border: none;
    outline: none;
    font-size: 25px;
    font-weight: bold;
}

.formList{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 20px 0px 20px;
    width: 100%;
    height: fit-content;
}

.categoryContainer, .dueDateContainerForm, .atribuitionsContainer{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    height: 40px;
    gap:40px;
    position: relative;
}

.formTitleContainer{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 130px;
    height: 30px;
    gap:5px;
    font-size: 16px;
    color: #696969;
}

.formTitles{
    display: flex;
    align-items: center;
    width: auto;
    height: 100%;
}

.formTitleContainer svg{
    width: 18px;
    height: 18px;
}

.selectDateContainer{
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 30px;
    padding: 0px 5px 0px 5px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

.selectDateContainer:hover{
    background-color: var(--asideSelection);
}

/* Estilo do calendario */

.flatpickr-calendar {
    display: flex;
    font-size: 12px; 
    width: 220px;    
    max-width: 220px;
    height: 280px;
    margin-top:35px;
}

.flatpickr-rContainer{
    width: 220px;
    height: 220px;
}

.flatpickr-weekdaycontainer {
    padding: 0; 
}

.flatpickr-weekdays{
    width: 100%;
    font-size: 12px;
}

.flatpickr-months{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 100%;
}

.flatpickr-innerContainer{
    width: 100%;
    height: 85%;
}

.flatpickr-month{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flatpickr-current-month{
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}

.dayContainer{
    min-width: 100%;
    max-width: 100%;
}

.flatpickr-days{
    width: 100%;
}

.flatpickr-day {
    height: 35px;       /* Altura menor para as células */
    line-height: 35px;  /* Mantém o número centralizado verticalmente */
    width: 20px;        /* Largura menor para as células */  /* Espaçamento pequeno entre os números */
}

/* Estilo de atribuições */

.memberForm{
    border: 1px solid var(--main-color);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    box-shadow: 1px 2px 5px var(--shadow);
    margin-left: -10px;    
}

.addMember{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--asideSelection);
}

.addMember:hover{
    background-color: rgb(42, 0, 255, 0.08);
}

.addMember svg{
    width: 18px;
    height: 18px;   
}

.memberForm:first-child{
    margin-left: 0px;
}

.membersList{
    display: flex;
}

.atribuitionsForm{
    display: flex;
    gap:8px;
}

/* Modal de atribuição */

.atribuitionModal{
    width: 330px;
    height: 230px;
    background-color: var(--main-color);
    position: absolute;
    box-shadow: 2px 2px 2px var(--shadow);
    border-radius: 10px;
    left:65%;
    top:52%;
    z-index: 12;
    border: 1px solid #f2f2f2;
    overflow: hidden;

}

.atribuitionModalHeader{
    display: flex;
    align-items: center;
    gap:10px;
    padding:20px 15px 0px 15px;
    font-weight: 500;
    font-size: 18px;
}

.atribuitionModalHeader svg{
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.addMemberContainerModal{
    display: flex;
    flex-direction: column;
    padding: 15px 15px;
    gap:5px;
}

.atribuitionInputs{
    display: flex;
    justify-content: space-between;
}

.inviteMemberInput{
    width: 210px;
    height: 32px;
    border-radius:5px;
    border: 1px solid #cecdcd;
    box-shadow: 0px 2px 5px var(--shadow);
    padding-left: 10px;
    font-size: 13px;
    outline-color:var(--blue);
}

.inviteMemberButton{
    width: 80px;
    height: 32px;
    border-radius: 5px;
    border: none;
    background-color: var(--asideSelection);
    color: var(--blue);
    font-weight: 500;
    box-shadow: 2px 2px 5px var(--shadow);
    cursor: pointer;
    transition: .2s ease-in-out;
    font-size: 13px;
}

.inviteMemberButton:hover{
    background-color: rgb(42, 0, 255, 0.08);
}


.invitedMembersList{
    display: flex;
    flex-direction: column;
    padding: 5px 15px;
    overflow: scroll;
    max-height:125px;
    height: 100%;
    overflow: hidden;
}

.invitedMember{
    display: flex;
    align-items: center;
    gap:8px;
    margin-top: 10px;
    width: fit-content;
    height: fit-content;
    max-width: 100%;
    font-size: 15px;
}

.invitedMembersList p{
    font-size: 12px;
    color: #696969;
}

.memberProfilePhoto{
    width: 30px;
    height: 30px;
    background-color: #3F3F3F;
    border-radius: 50%;
}

/* Botao de criar projeto */

.buttonContainer{
    padding: 40px 20px 25px;
}

.createProjectButton{
    width: 100%;
    height: 40px;
    border-radius:10px;
    border: none;
    background-color: var(--blue);
    color: var(--main-color);
    cursor: pointer;
    transition: .2s ease-in-out;
}

.createProjectButton:hover{
    background-color: var(--blueHoverButton);
}

/* Modal de categoria */

.categoryModal{
    position: absolute;
    width: 260px;
    height: min-content;
    background-color: #FFFFFF;
    border-radius:5px;
    border: 1px solid #f2f2f2;
    box-shadow: 1px 1px 5px #f2f2f2;
    top:5px;
    z-index: 11;
    cursor: pointer;
    padding: 5px 0px 0px 0px ;
}

.categoryModalHeader{
    display: flex; 
    align-items: center; 
    gap: 5px; 
    padding: 3px;
}

.createNewCategory{
    flex: 1; 
    min-width: 0; 
    border: 0;
    outline: none;
    background-color: transparent;
}

.categoryBadgeHeaderModal{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:10px;
    height: 20px;
    width: fit-content;
    flex-shrink: 0;
    max-width: 140px;
    padding: 15px 10px;
    margin-left:8px;
    font-size:15px;
}

.selectOptionText{
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 100%;
    padding: 5px 10px;
    font-size: 12px;
    color: #808080;
}

.categoryNameText {
    display: block; 
    max-width: 100%; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.noCategorySelected{
    display: none;
}

.categoryBadge{
    display: flex;
    align-items: center;
    height: 20px;
    width: 100%;
    max-width: 100%;
    padding: 20px 10px;
    font-size:15px;
    cursor: pointer;
}

.categoryBadge:hover{
    background-color: #f7f7f7;
}