@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

      :root{
            --border-color-aside: #ECECEC;
            --border-color: #d3d3d3;
            --asideSelection: rgba(42, 0, 255, 0.05);
            --blue: #000080;
            --black: #000000;
            --main-color: #FFFFFF;
            --secundary-color: #F7F6FF;
            --lightGrey: #E6E6E6;
            --taskBoardIcon-color: #3F3F3F;
            --shadow: rgb(198, 198, 198, 0.5);
            --toDoColor: rgba(64, 64, 64, 0.1);
            --toDoFontColor: #404040;
            --lightFontColor:#696969;
            --blueHoverButton: #0000a5; 
        }


*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100vh;
    background-color: #EBEBEB;
    font-family: "Poppins", sans-serif;
    position: relative;
}





.hidden{
    visibility: hidden;
}

.filter{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0000000c;
    z-index: 9;
}

.modalTermsAndConditions{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 450px;
    height: 500px;
    background-color: #FFFFFF;
    position: absolute;
    z-index: 10;
    border-radius: 10px;
    padding:25px;
    gap:40px;
    overflow-x: hidden;
    overflow: auto;
    box-shadow: 2px 2px 5px var(--shadow);
}

.modalTermsAndConditions::-webkit-scrollbar {
    width: 4px; 
    height: 3px;
}

.modalTermsAndConditions::-webkit-scrollbar-thumb {
    background: #ccc; 
    border-radius: 10px;
}

.modalTermsAndConditions::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8; 
}

.modalTermsAndConditions-container {
    scrollbar-color: #ccc #f1f1f1;
    scrollbar-width: thin; /* Torna a barra mais fina */
}
.section svg{
    width: 50px;
    height: 50px;
}

.section h2{
    margin-top:0.5rem;
    color: var(--blue);

}

.section p{
    text-align: center;
}

.modalTermsAndConditions p{
    margin-top:0.5rem;
    font-size: 13px;
    color: #404040;
    text-align:justify;
}

.modalTermsAndConditions h3{
    color: var(--blue);
}

.closeModal{
    height: 20px;
    width: 20px;
    fill: #696969;
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.containerButtons{
    display: flex;
    justify-content: center;
    gap:10px;
    width: 100%;
    height: 80px;
    background-color: var(--main-color);
}

.containerButtons button{
    width: 180px;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    font-family: "poppins";
    cursor: pointer;
    box-shadow: 0px 2px 5px #9191fa;
    transition: .2s ease-in-out;
}

.acceptTermsAndConditions{
    background-color: var(--blue);
    color: var(--main-color);
}
.acceptTermsAndConditions:hover{
    background-color: var(--blueHoverButton);
}

.refuseTermsAndConditions{
    outline: 2px solid var(--blue);
    background-color: transparent;
    color: var(--blue);
}

.refuseTermsAndConditions:hover{
    background-color: #ddddf1;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 85vh;
    background-color: #FFFF;
    border-radius: 32px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 3px 15px rgba(105, 105, 105, 0.5);
}
.esquerdaLogin, .direitaCadastro{
    width: 50%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    position:relative;
    z-index: 1;
}

.formLogin, .facaLogin, .formCadastro, .facaCadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.facaLogin, .facaCadastro{
    display:flex;
    justify-content: center;
    align-items: center;
    color:#FFFF;
    gap:25px;

    .titulo{
        color:#FFFF;
        font-size:30px;
        font-weight: bold;
    }

    .texto{
        font-size: 12px;
        width: 256px;
        text-align: center;
    }

    button{
    width:300px;
    height: 42px;
    background-color: #ffffff;
    opacity: 75%;
    border-radius: 32px;
    border-style: none;
    font-weight: bolder;
    font-family: "poppins";
    font-size: 15px;
    color:#000;
    cursor: pointer;

   
}

 button:hover{
        transform: translateY(-2px);
        transition: all 0.3s;
         background-color: #ffffff;
         opacity: 85%;

    }
}

.tituloForm{
    font-size:30px;
    align-self: center;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom:20px;

}
form{
    display: flex;
    flex-direction: column;
    gap:20px; 
    
        input{
            display: flex;
            padding: 10px 22px;
            width:300px;
            height: 40px;
            border-radius:20px;
            border: 1px solid #9E9E9E;
        }
        input:focus {
        outline: none; 
        border: 2px solid #9E9E9E; 
        
}

        .inputSubmit{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 30px;
            height: 42px;
            background-color: var(--blue);
            border-radius: 32px;
            color:#FFFF;
            font-weight: bold;
            font-family: "poppins";
            transition: all 0.3s;
            cursor: pointer;
            border: none;
        }

        .inputSubmit svg{
            width: 18px;
            height: 18px;
        }

        /* Exemplo de CSS (O spinner precisa ser animado, este é um exemplo básico) */
        .inputSubmit:disabled {
            cursor: not-allowed;
            opacity: 0.7;
        }

        /* Esconde o spinner até que a classe 'loading' seja ativada */
        .spinner.hidden {
            display: none;
        }

        /* Estado de Carregamento Ativo */
        .inputSubmit.loading .button-text {
            display: none; 
        }

        .inputSubmit.loading .spinner {
            display: inline-block; 
        }

        
        .inputSubmit:hover{
            background-color: var(--blueHoverButton);
            transform: translateY(-1px);
        }

        input::placeholder {
            color: #9E9E9E;
            font-size: 12px;
            font-weight: bold;
        }

}

.termos{
    display:flex;
    align-items:center;
    flex-direction:row;
}

.termosTxt {
  font-size: 12px;
  margin-left:8px;
}

.checkbox-container{
    display: flex;
    align-items: center;
}

.checkboxCustom{
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: background-color 0.2s, border-color 0.2s;
}

.checkIcon{
    width: 100%;
    height: 100%;
    stroke: #FFFFFF;
    fill: none; 
    transform: scale(0); 
    transition: transform 0.2s ease-in-out;
}

.checkbox{
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    width: 1px; 
    height: 1px;
    opacity: 0; 
}

/* Estilo da checkbox depois de marcada */
.checkbox:checked + .checkboxCustom {
    background-color: #000080; 
    border-color: #000080; 
}
/* Estilo de como vai aparecer a checkbox  e o icone depois de marcada */
.checkbox:checked + .checkboxCustom .checkIcon {
    transform: scale(1); 
}




.redesLogin{
    max-width:300px;
    width:100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    display: flex;
    flex-direction: column;

        .divOu{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            height:50%;
            width: 100%;
            font-size: 12px;

            .linha{
                width:90px;
                height:1px;
                background-color: #CDCDCD;
            }
        }

        .logoRedes{
            height:50%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            
        }
}

.logoRedes img{
    width: 28px;
    cursor: pointer;
}

/* background móvel */

 .card::after{
    background-image: url(..//images/imagem.png);
    width: 100%; 
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    z-index: 0;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
     border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
} 


/* Login Active */

.facaLogin, .facaCadastro{
    position: absolute; 

    h2{
        color:white;
    }
}

.card.loginActive .facaLogin{
    opacity: 0;
    pointer-events: none;
}

.card.loginActive .facaCadastro{
    transform: translateX(0);
    transition: all .5s .1s;
    opacity: 1;
}

.card.loginActive .formLogin{
    transform: translateX(0);
    transition: all .5s .1s;
    opacity: 1;
}

.card.loginActive .formCadastro{
    opacity: 0;
    pointer-events: none;
}

.card.loginActive::after{
    transform: translateX(50%);
}


/* Cadastro Active */
 
.card.cadastroActive .facaCadastro{
    opacity: 0;
    pointer-events: none;
}

.card.cadastroActive .formLogin{
    opacity: 0;
    pointer-events: none;
}

.card.cadastroActive::after{
    transform: translateX(-50%);
}

.card.cadastroActive .facaLogin{
    transform: translateX(0);
    transition: all .5s .1s;
    opacity: 1;
}

.card.cadastroActive .formCadastro{
    transform: translateX(0);
    transition: all .5s .1s;
    opacity: 1;
}

/* Transitions */

.card::after{
    transition: all 0.5s;
}

.facaCadastro{
    transform: translateX(200%);
    transition: all .5s 0;
    opacity: 0;
}

.formLogin{
    opacity: 0;
    transition: all .5s 0;
}

.facaLogin{
    transform: translateX(-200%);
    transition: all .5s 0;
    opacity: 0;
}

.formCadastro{
    opacity: 0;
    transition: all .5s 0;
}

.inputSubmit{
    margin-bottom: 15px;
}