@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    border:0;
    margin:0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height: 100vh;
    background-color: #DBD9D9;
    font-family: "Poppins", sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    width: 100%;
    max-height: 500px;
    height: 100%;
    background-color: #F5F5F5;
    border-radius: 10px;
}
form{
    display: flex;
    flex-direction: column;
}
form input{
    display: flex;
    align-items: center;
    width:300px;
    height: 30px;
    border: 1px solid #DBD9D9;
    border-radius: 5px;
    background-color: #F5F5F5;
    margin-bottom: 15px;
}

form label{
    display: block;
    width:300px;
}

button{
    width:300px;
    height: 35px;
    background-color: #021BAB;
    border-radius: 5px;
    color:#fafafa;
}


